<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>申请结果</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="shadow">
    <h2 class="h2">返回对象Result</h2>
    <p th:if="${result.isSuccess()} == true">
         <span> 创建用例成功 </span>

    <p th:if="${result.isSuccess()} == false">
                <span th:text="'【错误码】：' +${result.errorCode}   + '   '
                + '【错误消息】：'+ ${result.errorMsg}"/>
    </p>
</div>

</body>
</html>