<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>申请结果</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/files/style.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="shadow">
    <h2 class="h2">返回对象Result</h2>
    <p th:if="${httpTestResult.isSuccess()} == true">
    <table border="1">
        <thead>
        <tr>
            <th>登录号</th>
            <th>商户号</th>
            <th>商户名称</th>
            <th>商户简称</th>
            <th>手机号</th>
            <th>操作员号</th>
            <th>解决方案编号</th>
            <th>日志号</th>
        </tr>
        <tr th:each="r :${httpTestResult.getResult()}">
                             <span th:if="${r.errorMessage ne null}">
                                 <td th:text="${r.loginNo}"></td>
                                 <td colspan="6" th:text="${r.errorMessage}"></td>
                             </span>
            <span th:if="${r.errorMessage} eq null">
                                <td th:text="${r.loginNo}"></td>
                                <td th:text="${r.merchantCode}"></td>
                                <td th:text="${r.merchantName}"></td>
                                <td th:text="${r.merchantShortName}"></td>
                                <td th:text="${r.contactPhone}"></td>
                                <td th:text="${r.operatorNo}"></td>
                                <td th:text="${r.prodCode}"></td>
                                <td th:text="${r.traceLogId}"></td>
                             </span>
        </tr>
        </thead>
    </table>
    </p>
    <p th:if="${httpTestResult.isSuccess()} == false">
                <span th:text="'【错误码】：' +${httpTestResult.errorCode}   + '   '
                + '【错误消息】：'+ ${httpTestResult.errorMsg}"/>
    </p>

    <a class="fount" href="//www.baidu.com/" target="_blank" title="转到CSS5主页">百度</a>
</div>
<div class="banner">
    <a href="javascript:;">博</a>
    <span>这是我的个人博客</span>

</div>

<img  width="180" height="160" style="position:absolute; left:10px; top:200px; "th:src="@{/files/gif.gif}">
<img  width="100" height="200" style="position:absolute; left:200px; top:180px; "th:src="@{/files/jpg.jpg}">
</body>
</html>